<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CravesList</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header">
        <img src="../static/logo.jpg" alt="CravesList Logo" width=100 height=100 class="logo">
        <h1>CRAVESLIST</h1>
    </div>
    <form action="" method="get">
        What would you like to make? <br>
        <input type="text" name="item">
        <input type="submit" name="submit_button" value="Get Ingredients"
               onclick="document.getElementById('loading').style.display='block';
               document.getElementById('info').style.display='none';">
    </form>
    <br>
    <form action="" method="post">
        <input type="submit" value="Voice Input">
    </form>
    <img src="../static/loading.gif" id="loading" style="display:none;">
    <div id="info">
        <h2 id="name">{{ name }}</h2>
        <h3 id="time">{{ time }}</h3>
        <h3 id="nutrition">{{ nutrition }}</h3>
        <table>
            {% for item, price, status in result %}
            <tr>
                <td> {{ item }} </td>
                <td> {{ price }}</td>
                <td> {{ status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
